.git
.gitattributes
.github
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.md
!README.md
