### OSX Vendor Configs ###
.DS_Store
*._DS_Store
._.DS_Store
*._
._*
._.*

### Windows Vendor Configs ###
Thumbs.db

### Sass ###
#bower_components/*
/.sass-cache/*
.sass-cache

### Sublimt Text Vendor Configs ###
*.sublime-workspace

### PHP Storm Vendor Configs ###
.idea/*
/.idea/*
.phpintel/*
/.phpintel/*

### VS Code Vendor Configs ###
/.vscode

### Vagrant/Homestead Vendor Configs ###
/.vagrant
Homestead.yaml
Homestead.json

### Master Configs ###
.env
composer.lock

### Assets ###
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/debugbar
/storage/framework
/storage/logs
/storage/users
packages/

# Debug Files
npm-debug.log
yarn-error.log

